<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light shadow-sm">
    <div class="container">
      <h1 class="logo navbar-brand">
        <a href="/feed">
          <img class="logo" src="../../../assets/img/linkedin_small.svg">
        </a>
      </h1>
      <div class="d-none d-sm-block">
        <input class="form-control search-bar" type="text" placeholder="&#xf52a;  Search "
          style="font-family:'bootstrap-icons', Arial" (keyup.enter)="search($event.target)">
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse menu" id="navmenu">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item mt-2 d-lg-none d-md-none">
            <input class="form-control search-bar" type="text" placeholder="&#xf52a;  Search "
              style="font-family:'bootstrap-icons', Arial; width: 220px;">
          </li>
          <li class="nav-item mt-2">
            <a href="/feed" exact class="nav-link me-3">
              <i class="fas fa-home me-1"></i>
              Home
            </a>
          </li>
          <li class="nav-item mt-2">
            <a href="#" exact class="nav-link me-3">
              <i class="far fa-comments me-1"></i>
              Messaging
            </a>
          </li>
          <li class="nav-item mt-2 separator">
            <h1 class="nav-link me-3">|</h1>
          </li>
  
          <li class="nav-item dropdown mt-2">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              <i class="far fa-user-circle me-1"></i>
              {{ fullName }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" (click)="openProfile()"><i class="far fa-user-circle me-2"></i>Profile</a></li>
              <li><a class="dropdown-item" href="/" (click)="logout()"><i class="fas fa-sign-out-alt me-2"></i>Log out</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- END NAVBAR -->