@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap");

body {
  font-family: "Roboto Flex", sans-serif;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #9c9c9c;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
